<tr>
  <td style="margin: 0; padding: 0; background-color: #fff">
    <span
      style="
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 3rem;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      "
    >
      <br /><br />

      <small style="color: #999">@ {{year}} - Good Properties LTD</small>

      <br />

      <small>
        <a style="color: #999; text-decoration: none" href="#"> Terms of use </a>
        ·
        <a style="color: #999; text-decoration: none" href="#"> Privacy Policy </a>
        ·
        <a style="color: #999; text-decoration: none" href="mailto:contact@r3tests.net"> Contact </a>
      </small>
    </span>
  </td>
</tr>
</table>
</body>
</html>

