<tr>
  <td style="margin: 0; padding: 0">
    <span
      style="
        display: inline-block;
        width: 100%;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding-top: 0.5rem;
        padding-bottom: 1rem;
      "
    >
      <span style="display: block; margin: auto; padding: 0 2rem">
        <p style="color: #000">Hello, we have been informed about the lost of your password.</p>

        <p style="color: #000">
          To get back access to your account you can reset your password by clicking on the link below:
        </p>

        <p>
          <a href="{{resetLink}}">Reset my password</a>
        </p>

        <p style="color: #000">Or you can copy-past this link in your web browser:</p>

        <p style="color: #000">
          <b>{{resetLink}}</b>
        </p>
      </span>
    </span>
  </td>
</tr>
